html {
    font-family: sans-serif;
}

body {
    line-height: 1.8;
    word-wrap: break-word;
    text-align: center;
}

li {
    list-style-type: none;
}

li a {
    color: rgb(0, 0, 238);
    font-size: 1.5em;
    margin-left: 0.25em;
}

li time {
    display: block;
}

h1 {
    font-size: 2.0em;
    font-weight: bold;
    line-height: 1.3;
    margin-top: 1.5em;
}

p {
    font-size: 1.4em;
}